<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ `css/mainv3.css` | relURL }}">
    <link rel="icon" href="{{ `assets/favicon.ico` | relURL }}" type="image/x-icon"/>
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <meta name="description" content="{{if .IsPage}}{{ truncate 55 .Title }}{{ else }}{{ .Site.Params.homePageTitle }}{{ end }}" />
    <meta property="og:locale" content="zh-Hk" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Site.Params.homePageTitle }}" />
    <meta property="og:description" content="{{if .IsPage}}{{ truncate 55 .Title }}{{ else }}{{ .Site.Params.homePageTitle }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Params.homePageTitle }}" />
    <meta property="og:image" content="/assets/images/opengraph.jpg" />
</head>

<body>
    <header>
        {{ block "header" . }}

            <div class="cover">
                {{ if .Params.coverBanner }}
                    {{ if eq .Params.coverType "Video" }}
                    <video id="coverVideo" muted autoplay loop playsinline class="cover-item" src="{{ .Params.coverBanner }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {{ else }}
                        <img src="{{ .Params.coverBanner }}" class="cover-item" alt="Cover Banner">
                    {{ end }}
                {{ else }}
                    <video id="coverVideo" muted autoplay loop playsinline class="cover-item" src="/assets/videos/cover.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {{ end}}
                <img src="{{ `assets/videos/cover.jpg` | relURL }}" class="cover-item-bg" alt="Cover Banner">
            </div>
            <div class="cover-title{{ if .Params.isInsidePage }}-inside{{ end }}">
                {{ with .Site.Params.homePageTitle }}
                {{ . }}
                {{ end }}
                {{ with .Site.Params.homePageSubTitle }}
                <div class="cover-sub-title">{{ . }}</div>
                {{ end }}
            </div>
            

        {{ end }}
    </header>

    <div class="container{{ if .Params.isInsidePage }}-inside{{ end }}">
        <main>
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </main>
        <footer>
            {{ block "footer" . }}
                &copy;<span id="this-year"></span>&nbsp;Copyright and Design Powered by Matt Ng. All Rights Reserved.
            {{ end }}
        </footer>
    </div>
    <script src="{{ `/js/mainv3.js` | relURL }}"></script>
</body>

</html>