{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
<div class="pagination-container">
    <ul class="pagination">
    
        {{ if $paginator.HasPrev }}
        <li class="pagination-item pagination-item-previous">
            <a href="{{ $paginator.Prev.URL }}" class="pagination-link pagination-link-previous">
            «
            </a>
        </li>
        {{ end }}

        {{ range $paginator.Pagers }}
        <li class="pagination-item{{ if eq . $paginator }} pagination-current-item{{ else }} pagination-other-item{{ end }}">
            {{ if eq . $paginator }}
                {{ .PageNumber }}
            {{ else }}
                <a href="{{ .URL }}" class="pagination-link">
                {{ .PageNumber }}
                </a>
            {{ end }}
        </li>
        {{ end }}
        
        {{ if $paginator.HasNext }}
        <li class="pagination-item pagination-item-next">
            <a href="{{ $paginator.Next.URL }}" class="pagination-link pagination-link-next">
                »
            </a>
        </li>
        {{ end }}
        
    </ul>
</div>
{{ end }}