  {{ define "main"}}
  {{ .Content }}
  <div class="breadcrumb"><a href="/">主頁</a> » {{ .Title }}</div>
  <div class="page-title"><h1>Tag: {{ .Title }}</h1></div>
  <div class="wrapper">
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
        {{ if not ( eq .Title "blog" ) }}
            <div>
                <div class="page-section">
                    <h1>{{ .Title }}</h1>
                    <a href="{{ .URL }}" class="display-block">
                        {{ if eq .Params.coverType "Video" }}
                        <video id="coverVideo" muted autoplay loop class="page-cover" src="{{ .Params.coverBanner }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {{ else }}
                        <div class="page-cover hover14">
                            <div>
                                <figure><img src="{{ .Params.coverBanner }}" alt="Cover Banner" /></figure>
                            </div>
                        </div>
                        {{ end }}
                        <div>
                            {{ if isset .Params "summary" }}{{ .Params.Summary }}{{ else }}{{  truncate 180 .Summary }}{{ end }}
                        </div>
                    </a>
                </div>
            </div>
        {{ end }}
    {{ end }}
    </div>
    {{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
<div class="pagination-container">
    <ul class="pagination">
    
        {{ if $paginator.HasPrev }}
        <li class="pagination-item pagination-item-previous">
            <a href="{{ $paginator.Prev.URL }}" class="pagination-link pagination-link-previous">
            «
            </a>
        </li>
        {{ end }}

        {{ range $paginator.Pagers }}
        <li class="pagination-item{{ if eq . $paginator }} pagination-current-item{{ else }} pagination-other-item{{ end }}">
            {{ if eq . $paginator }}
                {{ .PageNumber }}
            {{ else }}
                <a href="{{ .URL }}" class="pagination-link">
                {{ .PageNumber }}
                </a>
            {{ end }}
        </li>
        {{ end }}
        
        {{ if $paginator.HasNext }}
        <li class="pagination-item pagination-item-next">
            <a href="{{ $paginator.Next.URL }}" class="pagination-link pagination-link-next">
                »
            </a>
        </li>
        {{ end }}
        
    </ul>
</div>
{{ end }}
{{ end }}